/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html {
    background-color: #540B51;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.navbar button {
    background-color: #540B51;
    border: none;
} 

.encabezado {
    color: white;
    text-align: center;
}
.encabezado span {
    color: #ECB12F 
}
#boton-correo{
    color: #540B51;
    text-transform: uppercase;
    border-radius: 7px;
    width: 99%;
    height: 50px; 
    margin-bottom: 10px;   
}
#boton-google{
    color: white;
    text-transform: uppercase;
    border-radius: 7px;
    width: 99%;
    height: 50px;
    background-color: #4285F4 ;
}
#text-button{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
#boton-google img{
    display: flex;
    background-color: white;
    justify-content: center;
    
}


